<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Predmeti po semestrima</title>
</head>

<body>

    <header>
        <div class="header-content">
            <img src="/assets/images.png" alt="ETF Logo" class="logo">
            <div class="user-info">
                <div class="user-details">
                    <img src="/assets/user.png" alt="User Icon" class="user-icon"> <!-- Dodata mala slika -->
                    <span>{{ kor_ime }}</span>
                </div>
                <a class="logout-link" (click)="logout()">Odjavi se</a>
            </div>
        </div>
    </header>

    <div class="container">
        <nav class="sidebar">
            <a [routerLink]="['/student']" routerLinkActive="active-link">Početna</a>
            <a [routerLink]="['/studentChooseSubjects']" routerLinkActive="active-link">Biranje predmeta</a>
            <a [routerLink]="['/studentExamReg']" routerLinkActive="active-link">Prijava ispita</a>
            <a [routerLink]="['/studentGrades']" routerLinkActive="active-link">Ispiti</a>
            <a [routerLink]="['/studentTimeTable']" routerLinkActive="active-link">Raspored časova</a>
            <a [routerLink]="['/studentPayments']" routerLinkActive="active-link">Školarine i uplate</a>
            <a [routerLink]="['/studentPassword']" routerLinkActive="active-link">Promena lozinke</a>
        </nav>

        <main>
            <h3>Moji podaci</h3>
            <table>
                <tr>
                    <th style="font-weight: bold;">Ime:</th>
                    <td>{{student.ime}}</td>
                </tr>
                <tr>
                    <th style="font-weight: bold;">Prezime:</th>
                    <td>{{student.prezime}}</td>
                </tr>
                <tr>
                    <th style="font-weight: bold;">Godina studija:</th>
                    <td>{{student.godina}}</td>
                </tr>
                <tr>
                    <th style="font-weight: bold;">Godina upisa:</th>
                    <td>{{student.godina_upisa}}</td>
                </tr>
                <tr>
                    <th style="font-weight: bold;">Broj indeksa:</th>
                    <td>{{student.indeks}}</td>
                </tr>
                <tr>
                    <th style="font-weight: bold;">Datum rođenja:</th>
                    <td>{{student.datum_rodjenja | date:'dd.MM.yyyy.'}}</td>
                </tr>
            </table>
        </main>
    </div>

    <footer>
        © 2024 - Sva prava zadržana, Elena Vlajković 2020/0695
    </footer>

</body>

</html>